<div id="container-loading" class="text-center">
    <div id="content">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="text-shadow: 0 0 3px #000;margin-top: 25%;"></i><br />
        <label id="lblAguardeLoading">Aguarde...</label>
    </div>
</div>